/* Styling Resets */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* List rest */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Default Style */
:root {
  --prm-soft-red: hsl(7, 99%, 70%);
  --prm-yellow: hsl(51, 100%, 49%);
  --prm-dark-saturated-cyan: hsl(167, 40%, 24%);
  --prm-dark-blue: hsl(198, 62%, 26%);
  --prm-dark-moderate-cyan: hsl(168, 34%, 41%);

  --neu-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --neu-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --neu-dark-grayish-blue: hsl(232, 10%, 55%);
  --neu-grayish-blue: hsl(210, 4%, 67%);
  --neu-white: hsl(0, 0%, 100%);
}

body {
  font-size: 18px;
  font-family: "Barlow", serif;
  text-align: center;
  background-color: var(--neu-white);
}

p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
}

/* Hero Section */
.hero-sec {
  background-image: url(/images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2rem;
  gap: 5rem;
}

.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 25px;
  cursor: pointer;
}

.bar {
  width: 100%;
  border: 1.5px solid var(--neu-white);
}

.nav-links {
  display: none;
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 16px;
  color: var(--neu-white); */
}

.nav-cta-btn {
  font-family: "Fraunces", serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 30px;
  color: var(--neu-very-dark-desaturated-blue);
  padding: 0.7rem 1.3rem;
  background-color: var(--neu-white);
}

.hero-intro,
.learn-more-link,
.author-name,
h2,
h3 {
  font-family: "Fraunces", serif;
}

.hero-intro {
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--neu-white);
  margin-bottom: -2rem;
}

.arrow-down {
  margin-top: -1rem;
  margin-bottom: 7rem;
  position: relative;
  animation: bounce-1 infinite 2s;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* About Section */

.about-sec {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}

.about-sec > article:first-child {
  height: 20rem;
  background-image: url(/images/mobile/image-transform.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-sec > article:nth-child(2),
.about-sec > article:last-child {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-sec > article:nth-child(3) {
  height: 20rem;
  background-image: url(/images/mobile/image-stand-out.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-sec > article > h2 {
  font-size: 2rem;
  line-height: 1.2;
  color: var(--neu-very-dark-desaturated-blue);
  font-weight: 800;
}

.about-sec > article > p {
  color: var(--neu-dark-grayish-blue);
}

.about-sec > article > a {
  width: 10rem;
  margin: 2rem auto 0;
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
}

.learn-more-link-ylw::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 15px;
  left: 17%;
  height: 7px;
  width: 105px;
  border-radius: 15px;
  background-color: var(--prm-yellow);
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.learn-more-link-red::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 15px;
  left: 17%;
  height: 7px;
  width: 105px;
  border-radius: 15px;
  background-color: var(--prm-soft-red);
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.learn-more-link-ylw:hover::before,
.learn-more-link-red:hover::before {
  opacity: 1;
}

/* Services Section */
.services-sec {
  display: grid;
}

.services-sec > article {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services-sec > article > h2 {
  margin-top: 20rem;
}

.services-sec > article:first-child {
  background-image: url(/images/mobile/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-sec > article:last-child {
  background-image: url(/images/mobile/image-photography.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-1 h2,
.service-1 p {
  color: var(--prm-dark-saturated-cyan);
}

.service-2 h2,
.service-2 p {
  color: var(--prm-dark-blue);
}

/* Testimonial Section */
.testimonials-sec {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.client-testimonials-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  color: var(--neu-grayish-blue);
}

.testimonials-sec > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.testimonials-sec > article > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.testimonial {
  color: var(--neu-very-dark-desaturated-blue);
  opacity: 0.8;
}

.author-name {
  font-weight: 800;
  font-size: 1.1rem;
  color: var(--neu-very-dark-desaturated-blue);
}

.author-position {
  margin-top: -1.5rem;
  font-size: 0.9rem;
  color: var(--neu-grayish-blue);
}

/* Images grid */
.img-grid {
  display: grid;
  height: 20em;
  grid-template-columns: repeat(2, 1fr);
}

.img-grid > div:first-child {
  background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-grid > div:nth-child(2) {
  background-image: url(/images/mobile/image-gallery-orange.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-grid > div:nth-child(3) {
  background-image: url(/images/mobile/image-gallery-cone.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-grid > div:last-child {
  background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer */
